header{
  width: 100%;
  padding: 10px 5%;
  background-color: $side-color;
}
.header__logo{
  float: left;
  width: 64px;
  @media only screen and (max-width: 500px){
    display: none;
  }
}
.header__menu{
  padding: 0;
}
.header__menu-item{
  display: inline-block;
}
.header__note-counter{
  float: left;
  font-size: 40px;
  height: 64px;
  line-height: 64px;
  margin-right: 20px;

  @media only screen and (max-width: 500px) {
    display: none;
  }
}
.header__menu-button{
  color: #fff;
  background: $call-to-action-color;
  cursor: pointer;
  line-height: 5rem;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1px;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-family: inherit;
}