<header>
    <img class="header__logo" src="{{ settings.views }}/03_organism/o_header/logo.png">
    <div class="header__note-counter">x<span class="js-count" >{{ notes | length | default('0') }}</span></div>
    <ul class="header__menu">
        <li class="header__menu-item">
            <button class="header__menu-button js-add-note">Add Note</button>
        </li>
        <li class="header__menu-item">
            <button class="header__menu-button js-delete-all">Delete all notes</button>
        </li>
    </ul>
</header>