<head>
    <title>Stickies</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" media="screen" href="{{ settings.views }}/style.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="{{ settings.views }}/00_base/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" media="screen" href="{{ settings.views }}/00_base/css/jquery-ui.structure.min.css" type="text/css" />
</head>