{{ include('head.twig') }}
<body>
    {{ include('03_organism/o_header/header.twig') }}
    <div class="board">
        {% for note in notes %}
            {{ include('03_organism/o_note/note.twig') }}
        {% endfor %}
    </div>
    <footer>
        <script src="{{ settings.views }}/bundle.js"></script>
    </footer>
</body>