.note {
  &--red{
    background-color: $accent-color;
    color: #fff;
    .note__title{
      background-color: darken($accent-color, 10%);
    }
  }
  position: absolute;
  background-color: $sec-color;
}
.note__text{
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 5px;
  min-height: 100px;
  min-width: 250px;
}
.note__title {
  width: 100%;
  display: block;
  background-color: darken($sec-color, 10%);
  border: none;
  padding: 3px 5px;
  text-align: center;
  @include placeholder{color:#333;}
}
.js-drag{
  position: absolute;
  top: 5px;
  left: 5px;
  background-image: url('03_organism/o_note/drag.png');
  -webkit-background-size: contain;
  background-size: contain;
  width:16px;
  height: 16px;
}
.js-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url('03_organism/o_note/remove.png');
  -webkit-background-size: contain;
  background-size: contain;
  width:16px;
  height: 16px;
}
.js-color {
  position: absolute;
  top: 5px;
  right: 21px;
  background-image: url('03_organism/o_note/important.png');

  -webkit-background-size: contain;
  background-size: contain;
  width:16px;
  height: 16px;
}