<div class="note" style="{{ ('background-color:' ~ note.color ~ ';')| e }}" data-id="{{ note.id }}" data-x="{{ note.x }}" data-y="{{ note.y }}">
    <div class="note__inner-wrapper">
        <div class="js-drag"></div>
        <div role="button" class="js-remove"></div>
        <div role="button" class="js-color"></div>
        <input class="note__title" name="title" placeholder="title" value="{{ note.title | e }}">
        <textarea class="note__text" name="text" placeholder="text">{{ note.text | e }}</textarea>
    </div>
</div>